{% extends "base.html" %}

{% block content %}
<head><style>
    body {
        background-color: rgb(235, 177, 255);
    }
    .job {
        color: black;
        background-color: white;
        border-radius: 25px;
        border: 2px solid rgb(138, 45, 153);
        padding: 10px; 
    }
    p {
        color: black;
    }
      .siteLogo2 {
        position: absolute;
        max-width: 100px;
        max-height: 100px;
        border-radius: 25px;
      }
</style></head>
<body>
<div class= job>
    <img src="../static/Ellipse 18.png" alt="Netwink Logo" class = "siteLogo2">
    <div style = "position: relative; left: 75px;">
        <b><p>Software Quality Engineer, Apple Pay</p></b>
        <p>New York, New York, United States</p> <br>
        <p>Posted 2 days ago</p>
    </div>
</div>
<div class= job>
    <img src="../static/Ellipse 23.png" alt="Netwink Logo" class = "siteLogo2">
    <div style = "position: relative; left: 75px;">
        <b><p>Summer Internships--Samsung Electronics Home Appliances</p></b>
        <p>Newberry, South Carolina, United States</p> <br>
        <p>Posted 3 days ago</p>
    </div>
</div>
<div class= job>
    <img src="../static/Ellipse 20.png" alt="Netwink Logo" class = "siteLogo2">
    <div style = "position: relative; left: 75px;">
        <b><p>Disney Junior Original Programming Internship</p></b>
        <p>Burbank, California, United States</p> <br>
        <p>Posted 3 days ago</p>
    </div>
</div>
<div class= job>
    <img src="../static/Ellipse 21.png" alt="Netwink Logo" class = "siteLogo2">
    <div style = "position: relative; left: 75px;">
        <b><p>Analyst, Systems Devlopment</p></b>
        <p>Newark, New Jersey, United States</p> <br>
        <p>Posted 5 days ago</p>
    </div>
</div>
<div class= job>
    <img src="../static/Ellipse 22.png" alt="Netwink Logo" class = "siteLogo2">
    <div style = "position: relative; left: 75px;">
        <b><p>Dreamworks Technology-Asset Management Technician</p></b>
        <p>Glendale, California, United States</p> <br>
        <p>Posted 2 days ago</p>
    </div>
</div>
</body>
{% endblock %}