{% extends "base.html" %}

{% block content %}
<head>
  <style>
    .topOfPage {
      padding-top: 50px;
    }
  </style>
</head>
<div class = "topOfPage">
  <h1>Register</h1>
  <h2>Hello future leader! To start, please tell us about yourself and your professional goals.</h2>

  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.fName.label }}<br/>
      {{ form.fName(size=32) }}<br/>
      {% for error in form.fName.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.lName.label }}<br/>
      {{ form.lName(size=32) }}<br/>
      {% for error in form.lName.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.email.label }}<br/>
      {{ form.email(size=64) }}<br/>
      {% for error in form.email.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}<br/>
      {{ form.password(size=32) }}<br/>
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password2.label }}<br/>
      {{ form.password2(size=32) }}<br/>
      {% for error in form.password2.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.country.label }}<br/>
      {{ form.country(size=32) }}<br/>
      {% for error in form.country.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.institution.label }}<br/>
      {{ form.institution(size=64) }}<br/>
      {% for error in form.institution.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.aos.label }}<br/>
      {{ form.aos(size=32) }}<br/>
      {% for error in form.aos.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.exp.label }}<br/>
      {{ form.exp(size=64) }}<br/>
      {% for error in form.exp.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.gender.label }}<br/>
      {{ form.gender(size=64) }}<br/>
      {% for error in form.gender.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
</div>
{% endblock %}